---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div class="space-y-4">
        <section class="space-y-2">
            <h1>About</h1>
            <p>
                I've made significant contributions to Bitcoin Layers, and most
                recently, Lemondrop and Zoomer401k. To me, bitcoin is the best
                savings tool that currently exists and I care about creating
                tech that brings more people onto the bitcoin standard.
            </p>
            <p>
                Outside of work, I enjoy reading, touching grass, and hobbies
                that involve fermentation. I have a goldendoodle that I named
                after my favorite beer -- Guinness. You can find me online or at
                local bitdevs and bitcoin meetups. I also travel occasionally
                and attend industry events and conferences when I can.
            </p>
        </section>
    </div>
</Layout>
