---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main class="space-y-4">
        <section class="space-y-2">
            <h1>About Me</h1>
            <p class="italic">"Don't work for what can be printed"</p>
            <p>
                I go by bolander(72). I've made significant contributions to
                Bitcoin Layers, and most recently, Lemondrop and Zoomer401k.
            </p>
            <p>
                I care about creating tech that brings more people onto the
                bitcoin standard.
            </p>
            <p>
                I believe that <i>time </i> is our most precious resource and the
                debasement and misuse of national currencies is one of the worst
                offenses a nation can inflict upon its own people.
            </p>
            <p>
                To me, bitcoin is the best savings tool that currently exists.
                Therefore, I spend most of my time and energy as a product
                designer and software developer working in this space.
            </p>
            <p>
                I keep my eyes on developments outside of bitcoin and get
                excited about opportunities to create bridges for those already
                onchain to come back to the motherchain.
            </p>
            <p>
                I'm an Ordinals enjoyoor and like art that is handmade and/or
                exists in physical form. I'm on the lookout for more art I can
                hang in my home.
            </p>
            <p>
                Outside of work, I enjoy reading, touching grass, and hobbies
                that involve fermentation. I have a goldendoodle that I named
                after my favorite beer -- Guinness.
            </p>
            <p>
                You can find me online or at local bitdevs and bitcoin meetups.
                I also travel occasionally and attend industry conferences.
            </p>
        </section>
    </main>
</Layout>
