---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main class="space-y-4">
        <section class="space-y-2">
            <h1>About</h1>
            <div>
                <p>Boland Co. is an independent web studio.</p>
                <p>Working with big orgs and early-stage teams.</p>
                <p>Quality products, good UX, and sustainable code.</p>
            </div>
            <!-- <a href="/about">read more</a> -->
        </section>

        <section class="space-y-2">
            <h1>Current</h1>
            <div>
                <p>
                    <i>Iron Piñata</i>, product design and web studio.
                </p>
                <p><i>LX Research</i>, bitcoin products and services.</p>
            </div>
        </section>

        <section class="space-y-2">
            <h1>Previous</h1>
            <div>
                <p><i>Carry</i>, savings products for independents.</p>
                <p><i>Mainline</i>, ai-powered crypto trading.</p>
                <p><i>Fold</i>, bitcoin financial services.</p>
            </div>
            <a href="/testimonials">testimonials</a>
        </section>

        <section class="space-y-2">
            <h1>Contact</h1>
            <div>
                <p>
                    LinkedIn. <a
                        href="https://linkedin.com/in/bolander72/"
                        target="_blank"
                        rel="noopener noreferrer">link</a
                    >
                </p>
                <p>
                    ADPList. <a
                        href="https://adplist.org/members/michael-boland"
                        target="_blank"
                        rel="noopener noreferrer">link</a
                    >
                </p>
            </div>
        </section>
    </main>
</Layout>
