---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div class="space-y-4">
        <section class="space-y-2">
            <h1>About</h1>
            <div>
                <p>Hello, I'm Michael.</p>
                <p>I'm a product developer.</p>
                <p>Currently building bitcoin things.</p>
            </div>
            <!-- <a href="/about">about me</a> -->
        </section>

        <section class="space-y-2">
            <h1>Current</h1>
            <div>
                <p><i>Lemondrop</i>, btc savings for altcoiners.</p>
                <p><i>Bitcoin Layers</i>, bitcoin L2 research hub.</p>
                <p><i>Zoomer401k</i>, modern retirement savings.</p>
            </div>
        </section>

        <section class="space-y-2">
            <h1>Previous</h1>
            <div>
                <p><i>Carry</i>, savings products for independents.</p>
                <p><i>Mainline</i>, ai-powered trading engine.</p>
                <p><i>Fold</i>, bitcoin financial services.</p>
            </div>
            <!-- <a href="/proof">proof of work</a> -->
        </section>
    </div>
</Layout>
