---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div class="space-y-4">
        <section class="space-y-2">
            <h1>Notes</h1>
            <div>
                <p>Rusty Handcuffs</p>
                <p>Despondent Friends</p>
                <p>Wrench Turners vs. Architects</p>
                <p>BDFXing Leadership</p>
                <p>Hell Yeah or No</p>
            </div>
        </section>
    </div>
</Layout>
