---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div class="space-y-4">
        <section class="space-y-2">
            <h1>Rusty Handcuffs</h1>
            <p>
               You may have heard of the term "golden handcuffs" before. It refers to the lucky-unlucky position in which you're well-compensated, but you're also stuck. How could you possible leave when you're base salary is $500,000, your stock grant is greater than your net worth, and not to mention all the countless amenities and perks that come with the job? The company slapped the golden handcuffs on and has you right where they want you.
            </p>
            <p>
                I've witnessed a similar phenomenon that I've come to call "rusty handcuffs". Think golden handcuffs, but without nearly as many of the perks and amenities of Silicon Valley startups and companies, definitely not as high of a salary, and maybe some stock options with a long list of contingencies. That said, it's still attractive to a lot of people.
            <p>
                I think that many of my friends and colleagues in software engineering wear rusty handcuffs. They've done the math, looked at the various alternatives, and decided accordingly. This doesn't mean they're happy. I speak to roughly a dozen colleague-friends every week or so. They tell me the same things: the work is uninspiring and not fulfilling, the company culture is terrible, days are filled with meetings, red tape, and bureaucracy, etc. Burn out, apathy leading to PIPs leading to firings, quiet quitting, actually quitting, etc.
            </p>
            <p>
                I try to talk them into considering other options like consulting, free-lancing, or starting their own companies. It doesn't seem to stick. I know I can't promise similar comforts. We talk about our career goals, aspirations, and side projects we'd like to start and see become something more. We know it's not going to happen though.
            </p>
            <p>We're just talking. Venting. A little escape.</p>
        </section>
    </div>
</Layout>