---
import Layout from "@/layouts/Layout.astro";
import { ChevronRightIcon } from "lucide-react";
---

<Layout>
    <div class="space-y-4">
        <section class="space-y-2">
            <h1>Streams</h1>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="border p-4 rounded-lg space-y-2">
                <p lang="en" dir="ltr">You can be disagreeable and still be a good person.</p>
                <div class="flex items-start gap-1"><span>&mdash; atlas (@creatine_cycle) <a href="https://x.com/creatine_cycle/status/1931483671191814353?ref_src=twsrc%5Etfw">June 7, 2025</a></span><ChevronRightIcon
                    className="size-3 rotate-315"
                /></div>
            </blockquote>
            <blockquote class="border p-4 rounded-lg space-y-2">
                <p lang="en" dir="ltr">The entire economy is increasingly just porn, sports gambling, and crypto.
                </p>
                <div class="flex items-start gap-1"><span>&mdash; cold 🥑 (@coldhealing) <a href="https://x.com/coldhealing/status/1928439243170357443?ref_src=twsrc%5Etfw">May 30, 2025</a></span><ChevronRightIcon
                    className="size-3 rotate-315"
                /></div>
            </blockquote>
            <blockquote class="border p-4 rounded-lg space-y-2">
                <p lang="en" dir="ltr">Truer words have never been spoken:</p>
                <p>The social contract is dead. Zoom calls in coffee shops, music aloud on the subway, texting in movie theaters, toes out on airplanes, etc. Everyone has "main character energy" now and thinks the rest of the world is a bunch of NPCs. The more you stare at a screen, the more you feel like you can do anything you want IRL since other humans just wind up seeming like avatars you can ignore, comments you can mute, or gang members you can run over in Grand Theft Auto.</p>
                <div class="flex items-start gap-1"><span>&mdash; anu (@anuatluru) <a href="https://x.com/anuatluru/status/1926349520251572635?ref_src=twsrc%5Etfw">May 24, 2025</a></span><ChevronRightIcon
                    className="size-3 rotate-315"
                /></div>
            </blockquote>
            <blockquote class="border p-4 rounded-lg space-y-2">
                <p lang="en" dir="ltr">Life would be much better if we ditched soulless conferences for group activities. Participants should be forced to raise a barn together, not stand together in a beer garden. Conferences should take place over grueling 3 day hikes, season harvests, and small boat crossings.
                </p>
                <div class="flex items-start gap-1"><span>&mdash; Will Manidis (@WillManidis) <a href="https://x.com/WillManidis/status/1906411128546066916?ref_src=twsrc%5Etfw">March 30, 2025</a></span><ChevronRightIcon
                    className="size-3 rotate-315"
                /></div>
            </blockquote>
            <blockquote class="border p-4 rounded-lg space-y-2">
                <p lang="en" dir="ltr">For many, corporate life is a velvet prison. It gives you comfort—insurance, stability—but at the cost of your soul. It grinds down ambition, boldness, &amp; originality until all that's left is someone who knows how to play the game, follow the rules, &amp; never rock the boat.
                </p>
                <p>Every lesson I've learned in a big company has been a lesson in how to maintain the status quo, which is the exact opposite of what's needed to make progress. These companies don't reward excellence or courage—they reward people who are average across the board: non-threatening, obedient, & forgettable. Worse, they actively punish boldness. Boldness is risk, & risk is an allergy to the corporate ecosystem.</p>
                <div class="flex items-start gap-1"><span>&mdash; signüll (@signulll) <a href="https://x.com/signulll/status/1879998011012743477?ref_src=twsrc%5Etfw">January 16, 2025</a></span><ChevronRightIcon
                    className="size-3 rotate-315"
                /></div>
            </blockquote>
            <blockquote class="border p-4 rounded-lg space-y-2">
                <p lang="en" dir="ltr">People aren&#39;t trying to fix society anymore, they are just trying to make enough money so it&#39;s problems don&#39;t apply to them.
                </p>
                <div class="flex items-start gap-1"><span>&mdash; Hurlman (@hurlman81) <a href="https://x.com/hurlman81/status/1468508779155234819?ref_src=twsrc%5Etfw">December 8, 2021</a></span><ChevronRightIcon
                    className="size-3 rotate-315"
                /></div>
            </blockquote>
            <blockquote class="border p-4 rounded-lg space-y-2">
                <p lang="en" dir="ltr">People periodically clown on tech guys for treating what seems to them like a common-sense observation as a shocking insight into human nature. What I think they miss is the possibility that it really was a shocking insight, *to them*.
                </p>
                <div class="flex items-start gap-1"><span>&mdash; QC (@QiaochuYuan) <a href="https://x.com/QiaochuYuan/status/1440804655932444672?ref_src=twsrc%5Etfw">September 22, 2021</a></span><ChevronRightIcon
                    className="size-3 rotate-315"
                /></div>
                </blockquote>
        </section>
    </div>
</Layout>
