---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div class="space-y-4">
        <section class="space-y-2">
            <h1>Writing</h1>
            <div class="flex flex-col">
                <a href="/rusty-handcuffs" class="w-fit">Rusty Handcuffs</a>
                <a href="#" class="w-fit">We Found Friends in a Hopeless Place</a>
                <a href="#" class="w-fit">Wrench Turners vs. Architects</a>
                <a href="#" class="w-fit">BDFXing is Better Leadership</a> 
                <a href="#" class="w-fit">Hell Yeah or No, Actually</a>
                <a href="#" class="w-fit">Anecdotes of Bad Founders</a>
                <a href="#" class="w-fit">The Permanent Underclass</a>
            </div>
        </section>
    </div>
</Layout>
